.root {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.headerImgContainer {
    width: 100vw;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.headerImg {
    display: inline-block;
    width: 100%;
}
.headerTitle {
    width: 70vw;
    margin: auto;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Work Sans",sans-serif;
    font-style: normal;
    word-wrap: break-word;
    color: #808080;
    text-transform: capitalize
}
.filters {
    width: 70vw;
    margin: auto;
    /* border-bottom: 1px black solid; */
    margin-top: 40px;
    padding-bottom: 20px;
}
.type {
    width: 70vw;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: bold;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.cardsRoot {
    width: 75vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.card {
    height: 272px;
    width: 23%;
    margin: 0 1%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.card:hover > .imgContainer > .img {
    opacity: 0.7;
}
.card:hover > .name {
    border-bottom: 1px black solid;
}
.imgContainer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}
.img {
    width: 100%;
}
.name {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px white solid;
    text-align: center;
    font-size: 16px;
    font-family: "Work Sans",sans-serif;
    font-style: normal;
    word-wrap: break-word;
    line-height: 1.2;
}
.price {
    margin-top: 5px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    color: #212529;
}